# Server
PORT=3001
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:32106
ADMIN_WALLETS=

# Aptos network config
APTOS_NETWORK=custom
# Your published module address (same as the admin/deployer address)
MODULE_ADDRESS=

# Where IssuerRegistry + PassportEvents resources live (you used the admin address)
REGISTRY_ADDRESS=

# (Optional) If you want to override the node URL instead of using APTOS_NETWORK
# APTOS_NODE_URL=https://fullnode.devnet.aptoslabs.com/v1
APTOS_NODE_URL=http://aptos:8080/v1
APTOS_FULLNODE_URL=http://aptos:8080/v1
APTOS_FAUCET_URL=http://aptos:8082/v1

# -------- OPTIONAL: only if backend will submit transactions (server-signed) --------
# Admin key
#ADMIN_PRIVATE_KEY=ed25519-priv-0xaf4b50dc0aa384a395106f09106120dacc2dcb275b3fee0c0806efa5561edff5
# Local profile private key
ADMIN_PRIVATE_KEY=
# Test1 profile private key
TEST_PRIVATE_KEY=
#Test2 profile private key
TEST2_PRIVATE_KEY=

# JWT for authenticated uploads
PINATA_JWT=
PINATA_GATEWAY_URL=

# LPT Admin Addr  + Reward Config
LPT_MODULE_ADDRESS=0xc06d173e51c62a15d7b7ca69c3d3fee80b79f69e06153a2cca179ae71d831598
LPT_STATE_ADDRESS=0xc06d173e51c62a15d7b7ca69c3d3fee80b79f69e06153a2cca179ae71d831598
LPT_SIGNUP_REWARD_DEFAULT=10
LPT_REFERRAL_REWARD_DEFAULT=7

# Database
#DATABASE_URL=postgresql://user:password@localhost:5432/luxpass (Local host version)
DATABASE_URL=postgresql://user:password@db:5432/luxpass
# Database credentials

DB_USER=user
DB_PASSWORD=password
DB_NAME=luxpass
DB_HOST=db
DB_PORT=5432