# Server
PORT=3001
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:32106
ADMIN_WALLETS=0xa23b0e79cd15889d49c0406bf741a80350c1f1bc7097ea96daafe7dc66382f65

# Aptos network config
APTOS_NETWORK=custom
# Your published module address (same as the admin/deployer address)
MODULE_ADDRESS=0xa23b0e79cd15889d49c0406bf741a80350c1f1bc7097ea96daafe7dc66382f65

# Where IssuerRegistry + PassportEvents resources live (you used the admin address)
REGISTRY_ADDRESS=0xa23b0e79cd15889d49c0406bf741a80350c1f1bc7097ea96daafe7dc66382f65

# (Optional) If you want to override the node URL instead of using APTOS_NETWORK
APTOS_NODE_URL=http://aptos:8080/v1
APTOS_FULLNODE_URL=http://aptos:8080/v1
APTOS_FAUCET_URL=http://aptos:8082/v1

# -------- OPTIONAL: only if backend will submit transactions (server-signed) --------
# Admin key
#ADMIN_PRIVATE_KEY=ed25519-priv-0xaf4b50dc0aa384a395106f09106120dacc2dcb275b3fee0c0806efa5561edff5
# Local profile private key
ADMIN_PRIVATE_KEY=ed25519-priv-0xd9da2e60da50dbcfc78307fca7401f2de65b9dceac6632e394c8317a09429e52
# Test1 profile private key
TEST_PRIVATE_KEY=ed25519-priv-0x6e8baa07f008ebdc53445029266092d76d1abbcedfc56c0239bc6bb82a70df34
#Test2 profile private key
TEST2_PRIVATE_KEY=ed25519-priv-0x343f7dc8afa2a594035adb295ed7fbb4917ce5b1495172a185aff36a1d868f8c

# JWT for authenticated uploads
PINATA_JWT=
PINATA_GATEWAY_URL=

# Database
#DATABASE_URL=postgresql://user:password@localhost:5432/luxpass (Local host version)
DATABASE_URL=postgresql://user:password@db:5432/luxpass
# Database credentials

DB_USER=user
DB_PASSWORD=password
DB_NAME=luxpass
DB_HOST=db
DB_PORT=5432